/* General app styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #434343;
  font-family: "Fira Sans", Tahoma, Geneva, Verdana, sans-serif !important;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Fira Sans", Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem;
  text-align: center;
  color: #333;
}

.font {
  font-family: "Fira Sans", Tahoma, Geneva, Verdana, sans-serif !important;
}
